* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
.container .blok-row {
  padding-top: 50px;
}
.container .blok-row h1 {
  font-size: 45px;
}
.container .blok-row .all-users {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}
.container .blok-row .all-users .row-title {
  margin-top: 50px;
  position: relative;
  background-image: url(/image/bacraund.jpg);
  background-size: cover;
  border-radius: 15px;
  border: 1px solid #696868;
  width: 300px;
  height: 230px;
}
.container .blok-row .all-users .row-title .title-card {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.container .blok-row .all-users .row-title .title-card .merk {
  background: none;
  font-size: 22px;
}
.container .blok-row .all-users .row-title .title-card h3 {
  font-size: 20px;
}
.container .blok-row .all-users .row-title .title-card p {
  font-size: 18px;
}
.container .blok-row .all-users .row-title .title-card .btn {
  width: 265px;
  position: absolute;
  bottom: 15px;
  justify-content: space-between;
  display: flex;
  gap: 10px;
}
.container .blok-row .all-users .row-title .title-card .btn button {
  background-color: aqua;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  transition: 0.5s;
}
.container .blok-row .all-users .row-title .title-card .btn button:hover {
  background: none;
  border: 2px solid aqua;
}
.container .blok-row .all-users .row-title .title-card .btn button a {
  text-decoration: none;
  color: #000;
  font-weight: 540;
  transition: 0.5s;
}